<h1 mat-dialog-title style="display: block; text-align: center; font-weight: bold;">Login</h1>
<div mat-dialog-content style="display: block;">
  <form [formGroup]="loginForm">
    <div class="d-flex flex-column">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input formControlName="passwd" type="password" matInput autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input formControlName="cpf" mask="000.000.000-00" matInput autocomplete="off">
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
  <button class="btn btn-cancel" mat-button (click)="cancel()">Sair</button>
  <button class="btn btn-login" mat-button (click)="logar()">Logar</button>
</div>
